* {
  box-sizing: border-box;
}

body {
  background-color: #eeeeee;
  margin: 0px;
}

.header {
  border: solid 4px #0f044c;
  background-color: #141e61;
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 100;
  font-size: 23px;
}

.subtitle {
  margin-top: -15px;
  font-family: "roboto", cursive;
  font-size: 25px;
}

.section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30vh;
}

.open-prompt {
  color: #eeeeee;
  height: 80px;
  width: 80px;
  border: none;
  border-radius: 15px;
  font-size: 50px;
  background-color: #787a91;
  animation: slide-in 0.5s;
}

.open-prompt:hover {
  background-color: #606174;
}

.open-prompt:active {
  background-color: #474855;
}

.user-form {
  display: flex;
  flex-direction: column;
  border: solid 5px #0f044c;
  border-radius: 10px;
  background-color: #141e61;
  color: #eeeeee;
  font-family: "roboto", sans-serif;
  font-weight: 300;
  font-size: 25px;
  animation: slide-in 0.5s;
}

@keyframes slide-in {
  from {
    margin-left: 500px;
    opacity: 0;
  }

  to {
    margin-left: 0px;
    opacity: 1;
  }
}

.hidden {
  display: none;
}

.user-input {
  padding: 5px;
  font-family: "roboto", sans-serif;
  font-size: 23px;
  font-weight: 300;
  font-style: italic;
}

.add-book {
  border: none;
  border-radius: 10px;
  height: 30px;
  background-color: #eeeeee;
  font-size: 15px;
}

.add-book:hover {
  background-color: #c9c7c7;
}

.add-book:active {
  background-color: #b6b4b4;
}

.user-book {
}

.book-display {
  color: #eeeeee;
  font-family: "roboto", sans-serif;
  padding: 5px;
  font-size: 25px;
  height: 50px;
  background-color: #141e61;
  height: 125px;
  width: auto;
}
